:root {
    --bgColor: #26272b;
    --bgColor2: #30343b;
    --dark-main: #005696;
    --light-main: #0d9ef1;
    --color-shadow: #1e1f22;
    --color-light: #2e2f34;
    --lg-dark: #222327;
    --lg-light: #292a2e;
    --main-radius: 2.825rem
}
[data-theme="red"] {
    --dark-main: #861c2f;
    --light-main: #ed3253;
}
[data-theme="green"] {
    --dark-main: #146350;
    --light-main: #0ea37e;
}
[data-theme="blue"] {
    --dark-main: #005696;
    --light-main: #0d9ef1;
}

.light-mode {
    --bgColor: #e0e5ec;
    --bgColor2: #d4dbe6;
    --color-shadow: #a3b1c6;
    --color-light: #fff;
    --lg-dark: #d7dce5;
    --lg-light: #f0f5fd;
}
.errors{
  position: absolute;
  top: 0;
  width: 80%;
  display: flex;
  flex-direction: column;
}
.error-msg{
  padding: 10px 5px;
  background-color: #005696;
  margin-bottom: 4px;
  border: 0;
  border-radius: 10px;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
}
.error-msg:first-child{
  border-radius: 0 0 10px 10px;
}
.error-close {
  font-weight: bold;
  float: right;
  font-size: 1.2rem;
  line-height: 1.25rem;
  margin: 0 4px;
  cursor: pointer;
}
.error{
  background-color: #85042a;
  z-index: 99;
}
.success{
  background-color: #037e55;
  z-index: 99;
}

.theme-area {
    position: absolute;
    top: 0;
    margin-top: 10px;
    z-index: 44;
}
.color {
    padding: 10px 10px;
    margin: 0 5px;
    cursor: pointer;
    color: #005696;
}
.color-list {
    list-style: none;
    display: flex;
    box-shadow: 1px 1px 1px var(--color-light),
        inset -1px -1px 1px var(--color-shadow), inset 0 0 0 2px var(--bgColor),
        inset -2px -2px 2px 2px var(--color-light),
        inset -4px -4px 4px 2px var(--color-light),
        -1px -1px 4px 0px var(--color-light),
        -2px -2px 8px 0px var(--color-light),
        inset 2px 2px 2px 2px var(--color-shadow),
        inset 4px 4px 4px 2px var(--color-shadow),
        1px 1px 4px 0px var(--color-shadow), 2px 2px 8px 0px var(--color-shadow);
}

.color {
    margin: 0.5rem 0.5rem;
    border-radius: 50%;
    cursor: pointer;
}
svg {
    width: 1.5rem;
    margin: 2px 5px 2px 0;
    cursor: pointer;
    transition: all 0.5s;
    fill: #ffce45;
    stroke: #ffce45;
}
.light-mode svg {
    fill: transparent;
    stroke: black;
}
.blue {
    background-color: #005696;
}

.red {
    background-color: #861c2f;
}

.green {
    background-color: #0a755b;
}